@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.5rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif, Helvetica;
}

/* Block Elements stuck on top of each eithers 100% width*/
/* main {
    background-color: aqua;
    width: 50%;
}

p {
    background-color: lightgrey;
    margin: 100px 50px;
}
*/
h1{
    margin: 30px 0px 60px 0px ;
    text-align: left;
}
h2{
    margin:10px 0px 10px 0px;
}


p {
    background-color: lightgrey;
    padding:10px 10px 10px 10px
}
.firstP{
    background-color: rgb(254, 254, 175);
}
.secondP{
    height:200vh;
}

.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    margin-top: 100px;
    /* doesnot work on inline element*/
    height: 200px;
    padding: 1rem;
    /* can overlapp if display not inline-block! */
}

/* usefull for link into button */
nav{
    position: sticky;
    top:0;
}

ul{
    
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: black;  

}
li {
    display: inline-block;
    margin-inline: 0.5rem;
}
li a {
    color: #fff;
    text-decoration: none;
}
li a:hover, li:focus {
    text-decoration: underline;
}